.about{width:40%}.skills{list-style:none;width:40%;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-pack:distribute;justify-content:space-around;min-height:-webkit-min-content;min-height:-moz-min-content;min-height:min-content;overflow:auto}.skills>li{height:3em;width:3em;margin:0.5em}@media screen and (max-width: 1200px){.about{width:50%}.skills{width:80%}}@media screen and (max-width: 720px){.about{width:65%}.skills{width:80%}}

body {
    background-color: #2C2F33;
}

h1 {
	color: #FFFFFF
}

h2 {
	color: #FFFFFF
}

title {
	color: #FFFFFF
}

p {
	color: #FFFFFF
}

li {
	color: #FFFFFF
}

a {
	color: #99AAB5
}